
/* Que quiero que pase si lo abro en un celular (primer punto de corte) */
/*@media screen and (max-width:640px) {
    p{
        color: blue;
    }

    h1{
        color: green;
        font-size: 3rem;
    }
}
*/
/* Tablets (segundo punto de corte) */
/*@media screen and (max-width:1024px) and (min-width:640px) {
    p{
        color: violet;
    }

    h1{
        color: pink;
        font-size: 5rem;
    }
}
*/
/* En pc */
/*@media screen and (min-width:1024px) {
    p{
        color: green;
    }

    h1{
        color: grey;
        font-size: 9rem;
    }
}*/

/* ---------------------------- */

/* ******* PALETA DE COLORES ******* */
/*
Beige: #FEE2C5 
Blanco: #FFF
Celeste: #C4DDFF
Negro: #000
*/


* {
    margin: 0;
    padding: 0;
}

html{
  /*  background-color: #f5f5dc;*/
    background-color: #FEE2C5;
    font-size: 62.5%;
    font-family:'Open Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
    font-family: 'Bebas Neue', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.4rem;
}

.bodyContainer {
    display: flex;
    flex-flow: column nowrap;
}

header{
    background-color: #000;
    color: #FFF;
    font-size: 4rem;
    text-align: center;
}

    .logoContainer{ 
        margin: 0;
        padding: 0;
        text-align: center;
    }

        .logoContainer img {
            max-width: 100%;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }

    .menuContainer{
        background-color: #FFF;
        height: 2.5rem;
    }

        .menuContainer ul{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            /* gap: 3rem; */ /* Si quiero que se separen */
            
            margin: 0;
        }

            .menuContainer li {
                flex: 1 0 auto;
                width: 16.5rem;
                list-style-type: none;
                text-align: center; /* alinea el texto dentro de las li */
                font-size: 1.8rem;

                -webkit-transition: background-color 0.3s ease-out, font-size 0.5s ease-out;
                -moz-transition:  background-color 0.3s ease-out, font-size 0.5s ease-out;
                -o-transition:  background-color 0.3s ease-out, font-size 0.5s ease-out;
                transition: background-color 0.3s ease-out, font-size 0.5s ease-out;
            }

            .menuContainer li:hover {
               /* background-color: #f0f8ff;*/
                background-color: #C4DDFF;
                font-size: 2rem;
                font-weight: 600;
            }

            a{
                text-decoration: none;
                color: #000;
            }  

main{
    margin: 7vh;
}

    .sectionContainer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        gap: 0 3vw;

        background-color: #000;
        border-radius: 4px;
        padding: 5rem;
    }

        .imgContainer img{
            width: 100%;
            border-radius: 4px;
        }

        #nosotros img {
            opacity: 0;
        }

        #nuestrosProductos img {
            opacity: 0;
        }

        @keyframes cambiarImagen1 {
            0% {
                background: url('https://picsum.photos/700/550?random=1')
            }
            100% {
                background: url('https://picsum.photos/700/550?random=2')
            }
        }

        @keyframes cambiarImagen2 {
            0% {
                background: url('https://picsum.photos/700/550?random=3')
            }
            100% {
                background: url('https://picsum.photos/700/550?random=4')
            }
        }
        
        #nosotros .imgContainer {
            animation: cambiarImagen1 10s cubic-bezier(0.8, 0, 0, 0.8) infinite alternate;
        }

        #nuestrosProductos .imgContainer {
            animation: cambiarImagen2 10s cubic-bezier(0.8, 0, 0, 0.8) infinite alternate;
        }

        .textContainer {
            text-align: left;
            color: #FFF;
            width: 70rem;
           /* min-width: 30rem;*/
            padding: 3rem;
        }

        .textContainer h2 {
            font-size: 7rem;
            margin-bottom: 1rem;
        }

        .textContainer p {
            font-size: 2rem;
        }

    #nuestrosProductos {
        margin: 10vh 0 0 0;

    }

    /* contacto.html */

    #contacto {
        background-color: #000;
        color: #FFF;
        font-size: 2rem;

        padding:3vw;
        border-radius: 4px;
    }

    .smallText {
        font-size: 1.2rem;
        margin: 1rem 0;
        color: #b8b8b8;
    }

    #contacto h2 {
        font-size: 6rem;
        margin-bottom: 1.2rem;
    }



    form {
        display: flex;
        flex-flow: row wrap;

        gap: 0 4rem;
    }

        .flexCol1 {
           max-width: 37vw;     
        }

        #email, #name{
            width: 30rem;
        }

        input {
            padding: 1rem;
            margin: 1.5rem 1.5rem 1.5rem 0;
            border: 1px solid #FFF;
            background-color: #000;
            color: #FFF;
            border-radius: 4px;
            box-sizing: border-box;
        }

        select {
            width: 14rem;
            padding: 0.4rem;
            margin: 2rem 0;
            border: 1px solid white;
            border-radius: 4px;
            box-sizing: border-box;
            background-color: #000;
            color: #FFF;
        }

        textarea {
            width: 30rem;
            height: 20rem;
            margin: 1rem 0;
            padding: 1rem;

            border: 1px solid white;
            border-radius: 4px;
            box-sizing: border-box;

            background-color: #000;
            color: #FFF;
        }

        .submitButton, .fileButton {
            background-color: #000;
            color: #FFF;

            margin: 0.7rem 0;
        }

/* sucursales.html */

#sucursalesMain {
    background-color: #000;
    border-radius: 4px;
    padding: 2rem;
}

    #sucursalesMain h2 {
        color: #FFF;
        font-size: 6rem;
        margin-bottom: 3rem;
    }
    .sucursal {
        margin-bottom: 2rem;
    }

        .sucFlexContainer {
            display: flex;
            flex-flow: row wrap;
        }

        .sucursal .imgContainer {
        margin: 0 3rem 2rem 0;
        }

        .sucTextContainer {
            color: #FFF;
            margin-bottom: 1rem;
        }

        .sucTextContainer h3 {
            font-size: 3.5rem;
        }
        .sucTextContainer p {
            font-size: 1.5rem;
        }

        #sucursalesMain iframe {
            border-radius: 4px;
        }

.footerContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;

    height: 7vh;
    background-color: #000;
}

.footerCol2 {
    width: 20rem;
}

.footerIcons {
    height: 24px;
    margin: 1.5rem;
    color: #FFF;

    display: inline-block;
    width: 10px;
    height: 23px;
    vertical-align: middle;

    -webkit-transition: font-size 0.3s ease-out;
    -moz-transition:  font-size 0.3s ease-out;
    -o-transition:  font-size 0.3s ease-out;
    transition: font-size 0.3s ease-out;
}

.footerIcons:hover {
    font-size: 35px;
}

.footerContainer .smallText {
    margin: 0 0 0 1.5rem;
}

@media screen and (max-width: 678px) {

    h1 {
        font-size: 12vw;
    }

    .menuContainer ul {
        flex-direction: column;
    }

    .menuContainer li {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.236);
    }

    .textContainer h2 {
        font-size: 6rem;
    }

    .textContainer p {
        font-size: 1.8rem;
    }

    main {
        margin: 3vw;
    }


    .sectionContainer {
        padding: 2vw;
    }

   /* .footerIcons {
        margin: 1.8vw;
    }*/

    .footerCol2 {
        width: 40vw;
    }
    
    .footerCol2 .smallText {
        margin-left: 0.6rem;
    }

    .sucursal .imgContainer {
        margin: 0 0rem 2rem 0;
    }

    #sucursalesMain iframe {
        width: 100%;
        height: 35vh;
    }

    #email, #phoneNumber, #name, .fileButton {
        width: 80vw;
    }

    form textarea {
        width: 80vw;
    }
}

@media screen and (max-width: 350px) {
    .bodyContainer {
        min-width: 100%;
    }

    h1 {
        font-size: 12vw;
    }

    #contacto h2 {
        font-size: 18vw;
    }

    #sucursalesMain h2 {
        font-size: 18vw;
    }
}